{% extends 'layout_admin.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block title %}Espace Membre| {{ parent() }}{% endblock %}

{% block body %}
    <section class="bg-secondary my-5 py-5">
        <h1 class="text-center pb-4 text-white text-uppercase">Tableau de bord de
            <strong class="text-info">{{ app.user.firstname }} {{ app.user.lastname }}</strong></h1>
        <h2 class="text-center"><span class="text-white">Bienvenue sur INSPIRE</span> <span class="text-info">& EXPIRE</span>
            <hr class="w-25 bg-info">
        </h2>
        <div class="row justify-content-center mx-0">
            <div class="col-lg-3  m-4 p-2 bg-primary border card-account">
                <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <img class="logo" src="{{ asset('build/images/information.svg') }}" alt="logo-outils"/>
                        <div class="mx-4">
                            <h3 class="card-text font-weight-bold">Mes informations personnelles</h3>
                            <p class="card-text">Vous pouvez consulter vos informations personnelles (Nom, Prénom, Email)
                            et les modifier si besoin.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-light border-secondary mx-4" href="{{ path('user_edit',{'id' :app.user.id}) }}">Voir mes informations</a>
                </div>
            </div>

            <div class="col-lg-3 m-4 p-2 bg-primary border card-account">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <img class="logo" src="{{ asset('build/images/calendar.svg') }}" alt="logo-calendrier"/>
                        <div class="mx-4">
                            <h3 class="card-text font-weight-bold">Prendre RDV en ligne</h3>
                            <p class="card-text"> Vous pouvez prendre RDV en ligne de manière simplifiée et en temps réel avec l'agenda de votre sophrologue.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-light border-secondary mx-4" href="https://book.timify.com/?accountId=6087ffc9f75db8115b1c374c&hideCloseButton=true">Prendre RDV</a>
                </div>
            </div>

            <div class="col-lg-3 m-4 p-2 bg-primary border card-account">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <img class="logo" src="{{ asset('build/images/repport.svg') }}" alt="logo-rapport-message"/>
                        <div class="mx-4">
                            <h3 class="card-text font-weight-bold">Mes comptes-rendus</h3>
                            <p class="card-text"> Vous pouvez consulter vos comptes-rendus laissés par votre sophrologue.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-light border-secondary mx-4" href="">Voir plus</a>
                </div>
            </div>
        </div>
        <a class="btn btn-light border-secondary mx-4" href="{{ path('home') }}">Retour au Site</a>
    </section>
    {% include '_includes/_arrow_up.html.twig' %}
{% endblock %}
