{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}
    <section class="my-5 py-3">
        <h1 class="text-center mb-4 text-secondary text-uppercase">Les tarifs
            <hr class="w-25 bg-info">
        </h1>
        <div class="row justify-content-center mx-0 mx-2">
            {% for price in prices %}
            <div class="col-lg-3 m-4 p-4 bg-primary border">
                <div class="mb-3">
                    <h2 class="text-center">{{ price.name }}</h2>
                    <hr class="w-25 bg-info">
                </div>
                <div class="my-3">
                    <h3 class="card-text text-center font-weight-bold">{{ price.price }}</h3>
                    <p class="card-text text-center font-weight-bold ">{{ price.information }}</p>
                </div>
                    <p class="card-text text-center">{{ price.description|raw }}</p>
                    <a class="nav-link text-white btn btn-secondary mx-4" href="{{ path('home') }}">Prendre RDV</a>
            </div>
            {% endfor %}
        </div>
        <p class="text-center">
            * La sécurité sociale ne prend pas en charge les séances de sophrologie, toutefois certaines mutuelles proposent un remboursement. <br />
            Conditions d'annulation d'une séance : Si vous annulez votre rendez-vous moins de 48h à l'avance, la séance sera considérée comme effectuée et vous sera facturée.
        </p>
    </section>
    <section class="container my-5 py-3">
        <h2 class="title text-center mb-4 text-secondary text-uppercase">Vous êtes une entreprise
            <hr class="w-25 bg-info">
        </h2>
        <p>
            Je propose des séances de <strong class="text-secondary">groupe</strong> selon un thème ou un objectif défini au préalable selon le besoin. Vous êtes
            <strong class="text-secondary">gérant(e) d'entreprise, directeur(trice) des Ressources Humaines ou du CHSCT, responsable d'un CE ou encore
            Chief Happiness Officer</strong> vous souhaitez faire rentrer la sophrologie dans votre entreprise, je vous propose
            alors de nous rencontrer afin d'étudier ensemble votre projet.
        </p>
        <div class="d-flex justify-content-end">
            <a href="" class="btn btn-light border-info p-2 font-weight-bold text-secondary my-2">Réaliser un devis</a>
        </div>
    </section>
    <script async
            src="//book.timify.com/widget/widget.min.js"
            id="timify-widget"
            data-position="left"
            data-locale="fr-fr"
            data-account-id="6087ffc9f75db8115b1c374c"
            data-locale="fr-fr"
    ></script>
    {% include '_includes/_arrow_up.html.twig' %}
{% endblock %}
