{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}
    <section class="row bg-primary justify-content-around mx-0 my-5 py-5">
        <div class="col-lg-5 col-md-5 my-2">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="shadow p-1 lack w-100 background-speciality"
                             src="{{ asset('build/images/femmeBonheur.jpg') }}" alt="image-femme-bonheur-paix"/>
                        <div class="carousel-caption ">
                            <h3 class="font-weight-bold text-uppercase d-md-block">Mieux vivre au quotidien</h3>
                            <h5 class="d-md-block d-none ">Gérer son stress, Canaliser ses émotions, Dormir en toute
                                sérénité, Evacuer les tensions</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="shadow p-1 lack w-100 background-speciality"
                             src="{{ asset('build/images/smoothie.jpg') }}" alt="image-smoothie-légume-régime"/>
                        <div class="carousel-caption ">
                            <h3 class="font-weight-bold text-uppercase d-md-block">Mincir sereinement</h3>
                            <h5 class="d-none d-md-block">Perdre du poids, Calmer ses pulsions alimentaires, Reconnaître
                                la satiété, Retrouver confiance en soi</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="shadow p-1 lack w-100 background-speciality"
                             src="{{ asset('build/images/femmeEnceinte.jpg') }}" alt="image-femme-grossesse"/>
                        <div class="carousel-caption ">
                            <h3 class=" text-uppercase font-weight-bold d-md-block">Bien vivre sa grossesse</h3>
                            <h5 class="d-none d-md-block">Être à l'écoute de son corps, Se détendre, Prendre du temps
                                pour soi </h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <h1 class="text-center text-uppercase mt-2 font-weight-bold text-secondary">Charlotte Ricordeau</h1>
            <h2 class="text-center text-secondary mb-4">Sophrologue, Diététicienne-Nutritionniste
                <hr class="w-50 bg-info">
            </h2>
            <div class="mb-4">
                <p>
                    En tant que <strong class="text-secondary">Sophrologue</strong>, je me mets à l’écoute de vos
                    ressentis et de vos émotions.
                    Par des techniques éprouvées comme le <strong class="text-secondary">"lâcher-prise"</strong> que
                    vous vous autorisez lors des séances ou la
                    maîtrise de la respiration que je vous ferai pratiquer, je vous accompagnerai dans votre parcours
                    vers
                    un sentiment de <strong class="text-secondary">bien-être</strong>.
                <p>
                <p>
                    En tant que <strong class="text-secondary">Diététicienne</strong>, je mets en œuvre une méthode
                    cartésienne et scientifique, basée sur des
                    connaissances acquises dans le domaine de la <strong class="text-secondary">physiologie du corps
                        humain et du métabolisme biochimique de l’organisme</strong>. <br>
                    Mes deux métiers m’aident à avoir le recul nécessaire pour mieux vous conseiller et prendre en
                    compte
                    la globalité de votre personne dans une <strong class="text-secondary">approche combinée
                        corps-esprit</strong>.
                </p>
            </div>
            <div class="row mx-0 justify-content-center">
                <a class="btn btn-light border-info m-2 col-lg-5 diploma"
                   href="https://www.sophrologue-formation.com/copie-de-sophrologie-et-equilibre-p" role="button">
                    <p class="">Spécialisée en Équilibre pondéral et Comportement Adapté (EPCA)</p>
                </a>
                <a class="btn btn-light border-info m-2 col-lg-5 diploma" href="https://www.ednh.fr/"
                   role="button">
                    <p class="">BTS Diététique à Paris</p>
                </a>
            </div>
            <div class="row mx-0 justify-content-center">
                <a class="btn btn-light border-info m-2 col-lg-5 diploma" href="" role="button">
                    <p class="">Certifiée au Répertoire Nationale de Certification Professionnelle
                        (RNCP)</p>
                </a>
                <a class="btn btn-light border-info m-2 col-lg-5 diploma" href="https://www.essasophro.com/"
                   role="button">
                    <p class="">Diplômée de l’Ecole Supérieure de Sophrologie Appliquée (ESSA)</p>
                </a>
            </div>
        </div>
    </section>

    <section class="my-5 py-5">
        <h1 class="text-center mb-4 text-secondary text-uppercase">Les nouvelles actualités
            <hr class="w-25 bg-info">
        </h1>

        <div class="row justify-content-center mx-0 mx-2">
            <div class="col-lg-3 m-4 p-2 bg-primary border">
                <img class="shadow p-1 lack w-100 border" src="{{ asset('build/images/smoothie.jpg') }}" alt="image"/>
                <div class="card-body">
                    <p class="card-text font-weight-bold">date de l'actualité</p>
                    <p class="card-text">Spécial Jeunes Mamans ! Une séance visio pour profitez depuis chez vous !</p>
                    <a class="nav-link text-white btn btn-secondary mx-4" href="">Voir le détail</a>
                </div>
            </div>
            <div class="col-lg-3 m-4 p-2 bg-primary border">
                <img class="shadow p-1 lack w-100 border" src="{{ asset('build/images/smoothie.jpg') }}" alt="image"/>
                <div class="card-body">
                    <p class="card-text font-weight-bold">date de l'actualité</p>
                    <p class="card-text">Spécial Jeunes Mamans ! Une séance visio pour profitez depuis chez vous !</p>
                    <a class="nav-link text-white btn btn-secondary mx-4" href="">Voir le détail</a>
                </div>
            </div>
            <div class="col-lg-3 m-4 p-2 bg-primary border">
                <img class="shadow p-1 lack w-100 border" src="{{ asset('build/images/smoothie.jpg') }}" alt="image"/>
                <div class="card-body">
                    <p class="card-text font-weight-bold">date de l'actualité</p>
                    <p class="card-text">Spécial Jeunes Mamans ! Une séance visio pour profitez depuis chez vous !</p>
                    <a class="nav-link text-white btn btn-secondary mx-4" href="">Voir le détail</a>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 py-2 container">
        <h1 class="text-center mb-4 text-secondary text-uppercase">Ils m'ont fait confiance
            <hr class="w-25 bg-info">
        </h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner ">
                {% for testiness in testinesses %}
                    <div class="carousel-item {{ loop.first ? 'active': '' }}">
                        <img class="quotes mb-4" src="{{ asset('build/images/left-quotes.png') }}"
                             alt="image guillemets"/>

                        <p>{{ testiness.content|raw }}</p>
                        <p class="font-weight-bold">{{ testiness.name }}, {{ testiness.age }}, Le {{ testiness.date|date('d/m/Y') }}
                        <p>
                        <div class="d-flex justify-content-end">
                            <img class="quotes" src="{{ asset('build/images/right-quotes.png') }}"
                                 alt="image guillemets"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include '_includes/_arrow_up.html.twig' %}
{% endblock %}
