{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Le Blog | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
    <h1 class="text-center my-5 pt-3 text-secondary text-uppercase">Le Blog d'actualités
        <hr class="w-25 bg-info">
    </h1>
    <section class="bg-primary row justify-content-center mx-0 my-5 py-4">
        <div class="col-lg-3 col-md-3 my-4 mx-5">
            {{ form_start(form) }}
            <div class="d-flex justify-content-between">
                {{ form_widget(form.name) }}
                <button class="btn btn-light border-primary mx-2" type="submit">
                    <img width="25em" height="25em" src="{{ asset('build/images/search.svg') }}"
                         alt="logo-recherche-loupe"/>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-5 col-md-5 pt-4">
            <p>Retrouvez toutes les actualités du site, des conseils sur la sophrologie, les événements auxquels je
                participe
                et découvrez de nouveaux ateliers à faire chez vous en prolongement des séances.</p>
        </div>
    </section>
    <section class="my-5 py-3">
        <div class="row justify-content-center mx-0">
            {% for event in events %}
                <div class="col-lg-3 m-4 p-2 bg-primary border">
                    <div class="card-blog-hover">
                        <div class="card-blog">
                            <img class="shadow p-1 lack w-100 border image-sophro"
                                 src="{{ vich_uploader_asset(event, 'posterFile') }}"
                                 alt="{{ event.name }}"/>
                        </div>
                    </div>
                    <h3 class="text-uppercase font-weight-bold text-white text-center text-sophro title-card-sophro ">
                        {{ event.name }}</h3>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-text font-weight-bold text-uppercase bg-light p-2 border">{{ event.category.name }}</p>
                            <p class="card-text font-weight-bold">{{ event.date is empty ? "" : event.date|date('d/m/Y') }}</p>
                        </div>
                        {% if event.category.name == "Atelier" or event.category.name == "Evènement" %}
                            {% if date(event.date) < date('now') %}
                                <div class="card-text font-weight-bold">
                                    <img width="20em" height="20em" src="{{ asset('build/images/warn.svg') }}"
                                         alt="logo-information"/>
                                    Date dépassée
                                </div>
                            {% elseif date(event.date|date('d/m/Y'))  < date('-30days') %}
                                <div class="card-text font-weight-bold">
                                    <img width="20em" height="20em" src="{{ asset('build/images/info.svg') }}"
                                         alt="logo-information-icon"/>
                                    Dans moins de 30 jours
                                </div>
                            {% endif %}
                        {% endif %}
                        <p class="card-text">{{ event.resume|raw }}</p>
                        <a class="nav-link btn btn-secondary text-light mx-5"
                           href="{{ path ('blog_show',{'id' :event.id}) }}">Voir le détail</a>
                    </div>
                </div>
            {% else %}
                <p>Il n'y a aucune actualité dans cette catégorie pour le moment.</p>
            {% endfor %}
        </div>
    </section>

    <script async
            src="//book.timify.com/widget/widget.min.js"
            id="timify-widget"
            data-position="left"
            data-locale="fr-fr"
            data-account-id="6087ffc9f75db8115b1c374c"
            data-locale="fr-fr"
    ></script>
    {% include '_includes/_arrow_up.html.twig' %}
{% endblock %}
