<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('build/images/colour.png') }}"/>
    <title>{% block title %}Inspire & Expire Charlotte Ricordeau Sophrologue à Saint-Denis-En-Val{% endblock %}</title>

    {% block metadata %}
        <meta name="description"
              content="Sophrologue sur la métropole d'Orléans, Charlotte Ricordeau vous accueille à son cabinet pour des séances individuelles ou collectives."/>
        <meta name="keywords"
              content=" Inspire, Expire, Charlotte Ricordeau, sophrologue, sophrologie, Orléans, Saint-Denis-En-val, séance, collective, individuelle"/>
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navbar %}
{% endblock %}

{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class=" col-lg-3 alert {{ category }}" style="position: absolute; right: 0;">
            <div class="card ">
                <div class="card-body  ">
                    <div class="text-right">
                        <small>À l'instant</small>
                        <button type="button" class="ml-2 close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <strong>INSPIRE <span class="text-info">& EXPIRE </span></strong>
                    <div>
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}

{% endblock %}

{% block footer %}
    {% include '_includes/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
